/* body {
background-image: url("https://i.imgur.com/y9RQaK8.gif");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: white;
} */

.App {
  text-align: center;
}

