body {
/* background-image: url("https://cdn.mwallpapers.com/photos/wallpapers/anime/hotarubi-no-mori-e-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-zvfyj.jpg"); */
background: maroon;
/* background-size: cover; */
/* background-position: center;
background-repeat: no-repeat; */
color: white;
}

.App {
  text-align: center;
}

li {
  display: inline;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

.anime-info {
  display: flex;
  flex: column;
}

.help-page {
  border: 2px solid black;
  margin: 50px;
  padding: 25px;
}

.comment-input {
  width: 400px;
  height: 200px;
}

